*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.centered{
    width: 55%;

    margin: auto;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;

    color: black;
}

.btn{
    padding: 4px 8px;
    border-style: none;

    cursor: pointer;

    background-color: #0061ff;

    color: white;
}
/* Assets */


                           /* Header */
nav{
    display: flex;
    align-items: center;

    height: 50px;
}

.navbar{
    position: fixed;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding-left: 15px;
    padding-right: 15px;

    width: 100%;
    height: 50px;

    z-index: 1;

    background-color: white;

    font-size: 0.7em;
}

.nav-left{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    margin-right: 20px
}

.nav-left ul, .nav-right ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    height: 100%;
}

.navbar li a{
    padding: 18px 0; 
    
    color: black;
}

.navbar li a:hover{
    border-bottom: 2px solid grey;
}

                          /* /Header */

                          /* Main */
/* Section 1 */

main .jumbo{
    margin-bottom: 100px;

    background-color: #b4d0e7;
}

.centered-jumbo{
    max-width: 65%;
    margin: auto;
}

#title{
    padding-top: 40px;

    font-size: 2.6em;
    font-weight: 700;
}

.first-sec-container{
    display: flex;
    flex-direction: row;

    margin-top: 40px;

}

.first-sec-left{
    display: flex;
    flex-direction: column;

    max-width: 30%;
}

.first-sec-left-inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;

    font-size: 0.8em;
    font-weight: 400;
}

.first-sec-left-inner .btn{
    padding: 8px 10px;
}

.first-sec-container .img-container{
    position: relative;
}

.first-sec-container .img-container img{
    position: absolute;

    height: 120%;
}

#down-arrow{
    padding-top: 40px;
    padding-bottom: 10px;

    font-size: 2.4em;
}
/* /Sezione 1 */

/* Sezione 2 */
.second-sec-container{
    margin-bottom: 100px;
}

.second-sec-container #first-sub-title{
    font-size: 2em;

    margin-bottom: 40px;
}
/* Titolo e checkbox */
.check-box{
    margin-bottom: 30px;
}

.check-box ul{
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.check-box ul li .check-choise{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.check-btn{
    width: 12px;
    height: 12px;

    margin-right: 4px;

    border-radius: 50%;
    border: 2px solid #d3d3d5;
}

.check-btn.primary{
    border: 4px solid #0061ff;
}
/* /Titolo e checkbox */

/* Business plans */
.plans-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.plan{
    width: calc(100% / 3 - 20px);

    font-size: 0.8em;

    border: 2px solid #ececee;
}

.plan-table{
    margin-bottom: 24px;
}

.row{
    display: flex;
    flex-direction: row;
}

.plan-type{
    padding: 8px 0;
    border-bottom: 2px solid #ececee;
    text-align: center;
}

.plan-inner{
    display: flex;
    flex-direction: column;

    padding: 22px;
}

.plan-inner .plan-title{
    margin-bottom: 16px;
}

.plan-inner .plan-price{
    margin-bottom: 10px;
}

.plan-inner .pay-time{
    margin-bottom: 24px;

    color: grey;
}

.plan-table .row{
    margin-bottom: 12px;
}

.plan-table .row .icon{
    padding-right: 8px;
}

.btn-big{
    padding: 10px 0;
    margin-bottom: 20px;
}

.buy-link{
    margin-bottom: 30px;
}

.buy-link a{
    text-decoration: underline;

    color: blue;
}

.short-rule{
    width: 20%;

    margin-bottom: 30px;

    color: #ececee;
}

.plan-horizontal{
    flex-grow: 1;

    margin-top: 30px;
}

.horizontal-inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.horizontal-left .plan-price{
    margin-bottom: 40px;
}

.horizontal-right .btn-big{
    padding: 10px 28px;

    white-space: nowrap;
}

/* Check-list */

.check-list .row{
    margin-bottom: 12px;
}

.check-list .row .icon{
    padding-right: 8px;
}

.check-list h3{
    margin-bottom: 14px;
}


.fa-check{
    color: #3c72ff;

    font-size: 1.3em;
}

/* /Sezione 2 */

/* Sezione 3 */
.third-sec-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-bottom: 100px;
}

.third-sec-container .img-container{
    width: 60%;
    height: 450px;
    
}

.third-sec-container .img-container img{
    width: 100%;
    height: 100%;
}

.text-container{
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding-top: 50px;

    max-width: 33%;
}

.text-container p{
    font-size: 0.8em;
}

.text-container button{
    padding: 10px 14px;

    background-color: white;

    border: 1px solid black;

    cursor: pointer;
}

/* /Sezione 3 */

/* Sezione 4 */

#second-sub-title{
    font-size: 1.4em;

    margin-bottom: 40px;
}

.cards-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 22px;

    margin-bottom: 100px;
}

.cards-container .card{
    display: flex;
    flex-direction: column;
    gap: 20px;

    width: calc(100% / 3 - 20px);
}

.card-image{
    width: 100%;
}

.card-image img{
    width: 100%;
}

.card-text{
    font-size: 0.8em;
}
/* /Sezione 4 */

/* Sezione 5 */

.fifth-sec-container{
    display: flex;
    flex-direction: column;
    gap: 50px;

    margin-bottom: 100px;
}

#third-sub-title{
    font-size: 1.4em;
}

#fifth-sec-link a{
    text-decoration: underline;

    color: blue;
}

/* /Sezione 5 */
























